<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelim Bulucu</title>
    <link rel="stylesheet" href="../static/w3.css">
    <link rel="stylesheet" href="../static/style.css">
    
   

</head>
<body class="w3-dark-grey">
    <main class=" w3-padding-top-32 w3-grey w3-section w3-round-large w3-padding">
        <h1 class="w3-center">KELİME BULUCU</h1>
        <form method="post">
            {% csrf_token %}
            <div class="w3-row w3-margin w3-round-large w3-padding w3-border w3-light-grey">
                <p class="w3-center"> Örneğin  </p>
                <p class="w3-center"> endam </p>
            
                <div class="w3-padding-16">
                    <div class="w3-third w3-center">
                        <input class="style-width w3-center" value="d">
                        <p>ör: d</p>
                    </div>
                    <div class="w3-third w3-center">
                        <input class="style-width w3-center" value="0">
                        <p>(Bilinmiyorsa 0) ör: 0</p>
                    </div>
                    <div class="w3-third w3-center">
                        <input class="style-width w3-center" value="1" >
                        <p>(Bilinmiyorsa 0) ör: 1</p>
                    </div>
                </div>
            
                
                <div class="w3-padding-16">
                    <div class="w3-third w3-center">
                        <input class="style-width w3-center" value="a">
                    </div>
                    <div class="w3-third w3-center">
                        <input class="style-width w3-center" value="4">
                    </div>
                    <div class="w3-third w3-center">
                        <input class="style-width w3-center" value="" placeholder="Harf nerede olamaz">
                    </div>
                </div>
                
            
            </div>
            <div class="w3-row w3-margin w3-round-large w3-padding w3-border w3-light-grey">
                <div id="panel">
                    <div class=" w3-center w3-padding">
                        <p>Kaç harfli</p>
                        <input class="w3-center" name = harf-sayi placeholder="ör: 5">
                        <p>Olmayan harfler (bilinmiyorsa boş bırakılabilir )</p>
                        <input class="w3-center" name = olmayan-harf-sayi placeholder="ör: a,b,c">
                    </div>
                    <div class="w3-row">
                        <div class="w3-third w3-center">
                            <input class="style-width w3-center" name = harf1 placeholder="Harf">
                            <p>ör: d</p>
                        </div>
                        <div class="w3-third w3-center">
                            <input class="style-width w3-center" name = yeri1 placeholder="Kaçıncı harf">
                            <p>(Bilinmiyorsa 0) ör: 0</p>
                        </div>
                        <div class="w3-third w3-center">
                            <input class="style-width w3-center" name = yeri-degil1 placeholder="Harf nerede olamaz" >
                            <p>(Bilinmiyorsa 0) ör: 1</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class=" w3-center w3-section">
                    <input class="" type="submit" value="Kelimeyi bul">
                </div>
            </div>
        </form>
        <div class="w3-container w3-center">
            <p> Yeni harf eklemek için</p>
            <button onclick="create();" class="auto w3-button w3-xlarge w3-circle w3-light-grey">+</button>
            
        </div>
        <div class="w3-row w3-margin w3-round-large w3-padding w3-border w3-light-grey">
            {% for i in data %}
                <p class = "w3-left w3-padding"> {{i}} </p>
            {% endfor %}
        </div>

    </main>
    <script>
        var sayi = 1;
        function create(){
            sayi += 1;

            var panelDiv=document.createElement("div");
            panelDiv.setAttribute("class","w3-row");
            
            var thirdDiv1=document.createElement("div");
            thirdDiv1.setAttribute("class","w3-third w3-center");

            var nesne1=document.createElement("input");
            nesne1.setAttribute("type","text");
            nesne1.setAttribute("name","harf"+sayi.toString());
            nesne1.setAttribute("id","harf"+sayi.toString());
            nesne1.setAttribute("placeholder","Harf");
            nesne1.setAttribute("class","style-width w3-center");
            var yazi1=document.createElement("p");
            thirdDiv1.appendChild(nesne1);
            thirdDiv1.appendChild(yazi1);

            var thirdDiv2=document.createElement("div");
            thirdDiv2.setAttribute("class","w3-third w3-center");
            
            var nesne2=document.createElement("input");
            nesne2.setAttribute("type","text");
            nesne2.setAttribute("name","yeri"+sayi.toString());
            nesne2.setAttribute("id","yeri"+sayi.toString());
            nesne2.setAttribute("placeholder","Kaçıncı harf");
            nesne2.setAttribute("class","style-width w3-center");
            var yazi2=document.createElement("p");
            thirdDiv2.appendChild(nesne2);
            thirdDiv2.appendChild(yazi2);

            var thirdDiv3=document.createElement("div");
            thirdDiv3.setAttribute("class","w3-third w3-center");

            var nesne3=document.createElement("input");
            nesne3.setAttribute("type","text");
            nesne3.setAttribute("name","yeri-degil"+sayi.toString());
            nesne3.setAttribute("id","yeri-degil"+sayi.toString());
            nesne3.setAttribute("placeholder","Harf nerede olamaz");
            nesne3.setAttribute("class","style-width w3-center");
            var yazi3=document.createElement("p");
            thirdDiv3.appendChild(nesne3);
            thirdDiv3.appendChild(yazi3);

            panelDiv.appendChild(thirdDiv1);
            panelDiv.appendChild(thirdDiv2);
            panelDiv.appendChild(thirdDiv3);

            var panel=document.getElementById("panel");
            panel.appendChild(panelDiv);
            

            
        }
    
    </script>
</body>
</html>