<main class=" w3-padding-top-32">
    <h1 class=" w3-center">Hakkımızda</h1>
    <div class="w3-row w3-margin">
        <div class="w3-half w3-container w3-margin-top w3-red">
            <h2>Amacımız</h2>
            <p>Saklamak değil, paylaşmak olsun özün. Eleştirmek değil, çözümü göstermek olsun sözün. Yıkmakta değil,
                yapmakta olsun gözün. Saldırmak değil, sarılmaktır çözüm. -Osho</p>
            <p>Bunu hayat felsefesi olarak yola çıkmış siteyiz.Burdaki temel amacımımızda öğrendiğimiz bilgileri
                paylaşmaktır. Bilginin en iyisinin ücretsiz olanları olduğunu düşünüyoruz eğer değilse bile yapmaya
                çalışmaktayız.</p>
        </div>
        <div class="w3-half w3-padding-small w3-container w3-margin-top">
            <div class=" w3-padding-small w3-border ">
                <img id="resim1" class="w3-block" src="../../static/img/pcFoto.jpg" alt="bilgisayar fotografı">
            </div>
        </div>
    </div>
    
    <div class="w3-row w3-margin">

        <div class="w3-half w3-padding-small w3-container w3-margin-top">
            <div class=" w3-padding-small w3-border  w3-container">
                <h3 class="w3-center">Lüüütfeeen bize katıl</h3>
                <img class=" w3-block" src="../../static/img/dilenciler.png" alt="dilenci resmi">
                <br>
            </div>
        </div>

        <div class="w3-half w3-container w3-red w3-margin-top">
            <h2>Bize katılmak istermisiniz ?</h2>
            <p>Bilgisyar ile ilgileniyor ve seviyorsanız bilgisayar hakkında bilgi paylaşımı ve bilgi öğrenmek
                istiyorsanız veya beraber kodlama yapmak için insan arıyorsanız o zaman neden bize katılmıyorsunuz.</p>
            <p>Hakkımızda yazımızda nasıl kuruldu gibi yazıların olmaması biraz garip biliyorum. Yeni bir siteyiz
                geliştiriyoruz kendimizi :)</p>
            <p>Hatalarımız varsa mail adresi üzerinden bildirirseniz sevinirim :)</p>
            <p>Korkaklar, ölmeden önce defalarca kez ölür; cesur insan ölümü bir kere tadar.</p>
            <p>-William Shakespeare</p>
            <p>Mail:malcolmx4106@gmail.com</p>
        </div>

    </div>

</main>