<div class="w3-red">
    <header class="w3-display-container w3-red w3-bar">
        <button id="headerListeButon" onclick="headerTus()" class=" w3-container w3-padding">
            <img src="../../static/img/cizgi3.png" alt="3 çizgi" >
        </button>

        <div id="headerListe" class="w3-red w3-right  w3-container w3-padding">
            <a href="../../members" class="w3-hover-red w3-bar-item w3-button w3-mobile">Anasayfa</a>
            <a href="../../members/hakkimizda/" class="w3-hover-red w3-bar-item w3-button w3-mobile">Hakkımızda</a>
            <a href="../../members/login/" class="w3-hover-red w3-bar-item w3-button w3-mobile">Login/Sing up</a>
            <a href="../../members/upload/" class="w3-hover-red w3-bar-item w3-button w3-mobile">Upload</a>
            <input id="search" type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Dosya adı..">
            <button onclick="location.href='../../members/search/'+ document.getElementById('search').value" class="w3-bar-item w3-button w3-green w3-mobile">
                <img src="../../static/img/serach.png" alt="arama resmi">
            </button>
            
        </div>
    </header>
</div>