<main class="w3-row">
    <h1>dosya yükleme yeri</h1>
    <div class=" w3-third">
        <div class=" w3-dark-gray w3-display-container">
            <div class="w3-center w3-display-middle">
                <h2>Hoşgeldiniiizz :)</h2>
                <p>Amacımız bir nevi ders kayıt sistemi yapma</p>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <a href="dersler">
            <div class=" div1 w3-display-container">
                <div class=" w3-display-middle w3-text-white">
                    <img src="../static/img/kitap.png" alt="kitap">
                    <h2 class=" w3-center">Dersler</h2>
                </div>
            </div>
        </a>
        <a href="sunum">
            <div class=" w3-purple w3-display-container">
                <div class=" w3-display-middle w3-text-white">
                    <img src="../static/img/sunum2.png" alt="sunum">
                    <h2 class=" w3-center">Sunum</h2>
                </div>
            </div>
        </a>
        <a href="not">
            <div class=" w3-deep-purple w3-display-container">
                <div class=" w3-display-middle w3-text-white">
                    <img src="../static/img/kitap.png" alt="kitap">
                    <h2 class=" w3-center">Notlar</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-third">

        <a href="odev">
            <div class=" w3-pink w3-display-container">
                <div class=" w3-display-middle w3-text-white">
                    <img src="../static/img/odev.png" alt="odev">
                    <h2 class=" w3-center">Ödev</h2>
                </div>
            </div>
        </a>
        <a href="proje">
            <div class=" w3-orange w3-display-container">
                <div class=" w3-display-middle w3-text-white">
                    <img src="../static/img/kitap.png" alt="kitap">
                    <h2 class=" w3-center">Proje</h2>
                </div>
            </div>
        </a>
        <a href="diger">
            <div class=" w3-yellow w3-display-container">
                <div class=" w3-display-middle w3-text-white">
                    <img src="../static/img/diger.png" alt="diger">
                    <h2 class=" w3-center">Diğer</h2>
                </div>
            </div>
        </a>

    </div>

</main>