<!DOCTYPE html>
<html lang="tr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Php ders</title>
    <link rel="stylesheet" href="{% static 'style/w3.css' %}">
    <script src="../static/js/header.js"></script>
    <link rel="stylesheet" href="../static/style/header.css">
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body onresize="headerPencereBoyut();mainPencereBoyut()"><!--pencere boyutu değiştiğinde fonksiyonu çalıştırır-->
    {% include "./html/header.html" %}
    {% include "./html/main.html" %}
    
    
    <script>headerPencereBoyut();mainPencereBoyut()</script>
    {{contr}}
</body>
</html>